.input-bar-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 44px;
}

.input-bar-container .input-bar {
  display: flex;
  flex-direction: column;
  flex: 1 60%;
  position: relative;
}

.input-bar-container input {
  padding: 10px;
  font-size: 18px;
  border: none;
}

.input-bar-container input:focus {
  outline: none;
}

.input-bar-container button {
  flex: 1 20%;
}

.input-bar-container button {
  margin-left: 24px;
  align-self: flex-start;
  padding: 10px;
  font-size: 18px;
  font-weight: 800;
  border: none;
  border-radius: 5px;
  color: #5659c4;
  text-transform: uppercase;
  cursor: pointer;
}

.input-bar-container button:focus {
  outline: none;
}

/* @media only screen and (min-width: 768px) {

} */
