.table {
  display: flex;
  padding-top: 60px;
}

.table-head,
.table-row {
  display: flex;
  padding: 16px;
  color: gray;
}

.table-row {
  flex-direction: column;
  border-bottom: 1px solid lightgray;
}

.table-head {
  flex-direction: column;
  background: #f2f2f2;
}

.table-head span:first-child,
.table-row li:first-child {
  width: 40%;
}

.table-head span:nth-child(2),
.table-row li:nth-child(2) {
  width: 40%;
  flex-grow: 1;
}

@media only screen and (min-width: 768px) {
  .table {
    flex-direction: column;
  }

  .table-head {
    flex-direction: row;
  }

  .table-row {
    flex-direction: row;
  }
  .table-head span:last-child,
  .table-row span {
    padding-left: 24px;
  }
}
